<% if flash[:notice] %>
 <p> <%= flash[:notice] %> </p>
<% end %>
<h1>Lista de clientes</h1>

<% @customers.each do |customer| %>
  <p>Name: <%= customer[:name] %></p>
  <p>Email: <%= customer[:email] %></p>
  <p>Phone: <%= customer[:phone] %></p>
<% end %>
<%= link_to "Novo cliente", new_customer_path %>
